[submodule "scripts"]
	path = scripts
	url = https://www.github.com/IbrahimHindawi/scripts
[submodule "extern/haikal"]
	path = extern/haikal
	url = https://www.github.com/IbrahimHindawi/haikal
[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
